/*--
============================================
; Title: Assignment 3.2
; Author: Chris Harris
; Date: 22 January 2021
; Description: This is the css file for the weekly changes
;===========================================
*/


body {
    font-family: "Oswald", Verdana, Arial, sans-serif;
    text-align: center;
    font-size: 28px;
}
a {
    float: left;
}



